:root {
  --square-size: 12.5vw;

  --text-color: hsl(157, 57%, 30%);
  --green: hsl(157, 57%, 53%);
  --body-bg: hsl(157, 57%, 98%);
  --button-bg: hsl(157, 35%, 40%);
  --button-bg-dark: hsl(157, 35%, 20%);
  --button-color: hsl(157, 35%, 40%);
  --button-color-hover: hsl(157, 45%, 60%);

  --text-color: hsl(157, 57%, 60%);
  --body-bg: hsl(217, 15%, 15%);
  --button-bg: hsl(212, 17%, 25%);
  --button-bg-dark: hsl(212, 17%, 85%);
  --button-color: hsl(157, 35%, 60%);
}

html, body {
	position: relative;
}

body {
  background-color: var(--body-bg);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

a {
	color: var(--green);
	text-decoration: none;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	border: 1px solid var(--text-color);
	border-radius: 2px;
}

select {
  color: var(--text-color);
  background: none;
}

input[type="range"] {
	height: 0;
}

button {
  color: var(--text-color);
  background: transparent;
  border: 0;
  font-weight: 600;
}

button:hover,
button:focus {
  outline: 0;
  color: var(--button-color-hover);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

:global(body) {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
