<footer>
  <div>a <a href="https://duud.com">duud</a> project</div>
  <div>contact <a href="mailto:andrew@duud.com">andrew@duud.com</a></div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #444;
    padding: 0.5em 1em;
  }
</style>

