<script>
  import Share from './Share.svelte'
</script>

<header>
  <h1 class="ml-auto">juug</h1>
  <Share />
</header>

<style>
  header {
    display: flex;
    margin: 0.5em 1em;
    z-index: 2;
    position: relative;
  }

  button {
    width: 3em;
    height: 3em;
    line-height: 3;
    padding: 0;
  }

  .ml-auto {
    margin-left: auto;
  }
</style>

